node_modules
dist
.env
.env.production
.env.development
.env.local
backend/db/*.sqlite
backend/db/database.sqlite
uploads/*
logs/*
.git
.gitignore
.gemini
db.json
db.json.bak
jest.config.js
backend/tests
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
